.hero {
  min-height: 90vh;
  width: auto;
  box-sizing: border-box;
}

.bg-dark {
  background-color: #263238;
}

.mouseicon {
  height: 10vh;
  margin-bottom: 50px;
}

.round-btn a {
  margin-left: 5px;
  margin-right: 5px;
}

.icon-btn {
  margin-right: 10px;
}

.parallaxbg {
  height: 50vh;
}

.contato-bg {
  background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../assets/contact_us.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100vh;
  width: auto;
  box-sizing: border-box;
  background-attachment: fixed;
}

.main{
  position: relative;
}

.sobre-bg {
  /* background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.4)), url('../assets/code.jpg') no-repeat center center; */
  background-size: cover;
  height: 100vh;
  opacity: .1;
  width: auto;
  box-sizing: border-box;
  background-attachment: fixed;
}

.sobre-bg-second{
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100%;
}

/* ===================font========================== */

.masthead-font .h1 {
  text-shadow: 0px 0px 1px #000;
}

.masthead-font .p {
  font-weight: 300;
  text-shadow: 0px 0px 8px #000;
}

@media (max-width: 576px) {
  .masthead-font .h1 {
    font-size: 2rem;
  }
  .masthead-font .p {
    font-size: 1rem;
  }
  .mb-4 {
    margin: 2em;
  }
}

@media (min-width: 576px) {
  .masthead-font .h1 {
    font-size: 2.2rem;
  }
  .masthead-font .p {
    font-size: 1.15rem;
  }
  .mb-4 {
    margin: 2.5em;
  }
}

@media (min-width: 768px) {
  .masthead-font .h1 {
    font-size: 3rem;
  }
  .masthead-font .p {
    font-size: 1.4rem;
  }
  .mb-4 {
    margin: 3em;
  }
}

@media (min-width: 992px) {
  .masthead-font .h1 {
    font-size: 3.5rem;
  }
  .masthead-font .p {
    font-size: 1.6rem;
  }
  .mb-4 {
    margin: 4em;
  }
}

@media (min-width: 1200px) {
  .masthead-font .h1 {
    font-size: 4.5rem;
  }
  .masthead-font .p {
    font-size: 1.8rem;
  }
}
